@import "../defaults/color";
@import "../index";

main {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 100px 50px 1fr;
    margin-bottom: 50px;

    

    .heading {
        @include grid-header();  
    }

    .description {
        @include grid-description(); 
        font-family: 'Poppins', sans-serif; 
        text-align: center;
        
        h3 {
            text-align: justify;
            margin: 10px 0 0 0;
        }

        .who-am-i{
            margin-bottom: 40px;
            text-align: left;
        }
        
        .skills {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            color: #f9815d;
            
            margin: 10px;
            padding: 20px;
            font-size: 60px;

            i{
                &:hover {
                    font-size: 70px;
                }
            }
        }

        #resume {
            @include primary-button();
        }
    }
}

@media screen and (min-width: $ipad) {
    main {
        .heading {
            font-size: 26px; 
        }

        .description {
            font-size: 18px;

            h3 {
                font-size: 24px;
            }

            .skills {
                font-size: 75px;
            }

            #resume {
                height: 50px;
                min-width: 140px;
                font-size: 1.4rem;
            }
        }   
    }
} 