@import "../defaults/color";
@import "../defaults/breakpoint";
@import "../index";

main {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 100px 50px 1fr;
    margin-bottom: 50px;

    .heading {
        @include grid-header(); 
    }

    .description {
        @include grid-description(); 
        font-family: 'Poppins', sans-serif;  

        .contact-stuff {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        

        h2 {
            color: $secondary-color
        }

        form {
            background-color: $primary-color;
            padding: 16px;
            border-radius: 4px;
            margin-bottom: 40px;

            .form-elements {
                display: flex;
                flex-direction: column;
                margin-bottom: 24px;

                label {
                    font-size: 1.2rem;
                    color: $third-color;
                    margin-right: 10px;
                }

                .form-input {
                    border: 1px solid $primary-background-color;
                    border-radius: 4px;
                    outline: none;
                    font-size: 1.2rem;
                    font-family: 'Poppins', sans-serif; 
                    font-weight: 300;  
                    
                    &:not(.form-textarea) {
                        height: 25px;
                    }

                    &.form-textarea {
                        resize: none;
                    }

                    &:focus {
                        box-shadow: 0 0 8px 3px $shadow-color;
                    }
                }
            }

            .btn-div {
                text-align: center;

                #send {
                    @include secondary-button();
                }
            }
        }

        .contact-info-section {
            h3 {
                font-weight: 500;
            }
            
            a {
                color: $secondary-color;
                cursor: pointer;
                font-weight: 300;
            }

            .social-media-contact {

                display: flex;
                justify-content: space-around;

                a {
                    i{
                        color: $primary-color;
                        font-size: 40px;
                        
                        &:hover {
                            font-size: 50px;
                        }
                    }
                }
                   
                   }
            
            }
        }

    }
    
    
@media screen and (min-width: $ipad) {
    main {
        .heading {
            font-size: 26px;
        }

        .description {

            h2 {
                font-size: 26px;
            }

            form {
                .form-elements {
                    label {
                        font-size: 1.4rem;
                    }
                }

                .btn-div {
    
                    #send {
                        height: 50px;
                        min-width: 130px;
                        font-size: 1.5rem;
    
                        &:hover {
                            cursor: pointer;
                            background-color: #f8b895;
                        }
                    }
                }
            }

            .contact-info-section {
                h3 {
                    font-size: 20px;
                }

                a {
                   font-size: 18px;
                }
            }
        }
    }
}

@media screen and (min-width: $desktop) {
    main {
        .description {
            form {
                .form-elements {
                    flex-direction: row;
                    justify-content: space-between;
    
                    .form-input {
                        width: 60%;
                    }
                }
            }

            .contact-stuff {
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-around;
                align-items: flex-start;

                .contact-info-section {
                    .social-media-contact {
                        display: flex;
                        justify-content: flex-start;

                        a{
                            i{
                                margin-right: 30px;
                            }
                        }
                    }
                }
            }
        }
        
    }
}
