@import "../defaults/color";
@import "../defaults/breakpoint";
@import "../index";

main {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        color: $secondary-color;
    }

    form {
        background-color: $primary-color;
        padding: 16px;
        border-radius: 4px;
        margin-bottom: 40px;
        
        .form-elements {
            display: flex;
            flex-direction: column;
            margin-bottom: 24px;

            label {
                font-size: 1.2rem;
                color: $third-color;
            }

            .form-input {
                border: 1px solid $primary-background-color;
                border-radius: 4px;
                outline: none;
                overflow: hidden;
                font-size: 1.2rem;
                font-family: 'Times New Roman', Times, serif;

                &:not(.form-textarea) {
                    height: 25px;
                }

                &.form-textarea {
                    resize: none;

                }

                &:focus {
                    box-shadow: 0 0 8px 3px $shadow-color;
                }
            }
        }

        .btn-div {
            text-align: center;

            #send {
                height: 40px;
                min-width: 120px;
                background-color: $primary-background-color;
                color: $secondary-color;
                border: none;
                outline: none;
                border-radius: 3px;
                font-size: 1.3rem;

                &:hover {
                    cursor: pointer;
                    background-color: #f8b895;
                }
            }

        }
    }
}

@media screen and (min-width: $medium) {
    main {
        form {
            .form-elements {
                flex-direction: row;
                justify-content: space-between;

                .form-input {
                    width: 70%;
                }
            }
        }
    }
}