/* styling for the header components can be found in the _header.scss file. */
header {
  background-color: #FCC9AD;
  padding: 16px;
  text-align: center;
}
header .logo-title a img {
  width: 150px;
}
header .logo-title a img:hover {
  width: 160px;
}
header .nav-items {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 24px;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
header .nav-items a {
  text-decoration: none;
  color: #FB6131;
}
header .nav-items a:hover {
  color: #fea473;
}
header .nav-items .nav-lines {
  background-color: #FB6131;
  height: 25px;
  width: 1.3px;
}

@media screen and (min-width: 500px) {
  header .logo-title a img {
    width: 180px;
  }
  header .logo-title a img:hover {
    width: 190px;
  }
  header .nav-items a {
    font-size: 24px;
  }
}
@media screen and (min-width: 1100px) {
  header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  header .logo-title {
    margin-bottom: 11px;
  }
  header .nav-items {
    width: 50%;
  }
}
footer {
  background-color: #FCC9AD;
  padding: 16px;
  text-align: center;
}
footer .social-media {
  display: flex;
  justify-content: space-around;
}
footer .social-media a i {
  color: #FB6131;
  font-size: 24px;
}
footer p {
  margin-bottom: 0;
  color: rgb(19, 19, 19);
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

@media screen and (min-width: 500px) {
  footer .social-media {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  footer .social-media a i {
    font-size: 30px;
  }
}
body {
  background-color: #FCC9AD;
  padding: 16px;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* The below code is the styling for the image/link on my home page. */
/* I have given this component a circular border, using border-radius and  */
/* a background of the primary colour to keep consistent design. */
main section .ella-image img {
  border: 10px solid #FB6131;
  height: 200px;
  border-radius: 50%;
}

/* Below is the styling for the introduction text component on the home page. */
/* I have used the same font across the site to keep a consistent design. */
main section .intro {
  text-align: center;
}
main section .intro p {
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin: 0;
}
main section .intro .hi-text {
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

/* The text "ella." is larger and a different colour to make it stand out. */
main section .intro .ella-name {
  font-size: 50px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #FB6131;
}

/* When you hover over "ella" it goes a different colour to communicate to the user that it is a link. */
main section .intro .ella-name:hover {
  color: #fea473;
}
main section .intro a {
  text-decoration: none;
}
main section .intro .btn-div {
  margin: 24px 0 20px 0;
}
main section .intro .btn-div #my-work-btn {
  height: 40px;
  min-width: 120px;
  background-color: #FB6131;
  color: white;
  border: none;
  outline: none;
  border-radius: 3px;
  font-size: 1.3rem;
  font-family: "Poppins", sans-serif;
}
main section .intro .btn-div #my-work-btn:hover {
  cursor: pointer;
  background-color: #f9815d;
}

/* End of introduction text component styling. */

/* the below media screen breakpoint creates a responsive design for both ipads and desktops, changing the components styling to fit the screen size. */
@media screen and (min-width: 500px) {
  main section .ella-image img {
    height: 300px;
  }
  main section .intro p {
    font-size: 50px;
  }
  main section .intro .hi-text {
    font-size: 50px;
  }
  main section .intro .ella-name {
    font-size: 75px;
  }
  main section .intro .btn-div #my-work-btn {
    font-size: 24px;
    height: 50px;
    min-width: 130px;
  }
}
@media screen and (min-width: 1100px) {
  main section {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
  }
  main section .ella-image img {
    height: 350px;
  }
  main section .intro {
    text-align: justify;
  }
}/*# sourceMappingURL=home.css.map */