@import "../index";

main {
    section{
        .ella-image {
            img {
                height: 200px;
                border-radius: 50%;
            }
        }

        .intro {
            p {
                font-size: 30px; 
            }
            
        }
    }
}




