@import "../index";
@import "../defaults/breakpoint";

main {

    section{

        display: flex;
        flex-direction: column;
        align-items: center;

        .ella-image {
            img {
                border: 10px solid $primary-color;
                height: 200px;
                border-radius: 50%;
            }
        }

        .intro {
            text-align: center;

            p {
                font-size: 30px; 
                font-family: 'Poppins', sans-serif;
                font-weight: 600;
                margin: 0;
                
            }

            .hi-text {
                font-size: 30px; 
                font-family: 'Poppins', sans-serif;
                font-weight: 600;
            }

            .ella-name {
                font-size: 50px; 
                font-family: 'Poppins', sans-serif;
                font-weight: 600;
                color: $primary-color;
                
                &:hover {
                    color: #fea473;
                }
            }     
            
            a{
                text-decoration: none;
            }

            .btn-div {

                #my-work-btn {
                    font-family: 'Poppins', sans-serif;
                    font-size: 16px;
                    height: 35px;
                    min-width: 115px;
                    background-color: $primary-color;
                    color: $third-color;
                    border: none;
                    outline: none;
                    border-radius: 3px;

                    &:hover {
                        cursor: pointer;
                        background-color: #fea473;
                    }
                }

                

                margin: 24px 0 20px 0;
            }
        }
    }
}

@media screen and (min-width: $ipad) {
    main {
        section {
            .ella-image {
                img {
                    height: 300px;
                }
            }

            .intro {
                p {
                    font-size: 50px;
                }

                .hi-text {
                    font-size: 50px;
                }

                .ella-name {
                    font-size: 75px;
                }

                .btn-div {
                    #my-work-btn {
                        font-size: 24px;
                        height: 50px;
                        min-width: 130px;
                    }
                }
            }
        }
    }
}


@media screen and (min-width: $desktop) {
    main {
        section{
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-around;

            .ella-image {
                img {
                    height: 350px;
                }
            }

            .intro {
                text-align: justify;
            }

        }
    }
}




