@import "../defaults/color";
@import "../defaults/breakpoint";
@import "../index";

main {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 100px 50px 1fr;

    margin-bottom: 50px;

    .heading {
        @include grid-header();   
    }

    .description {
        @include grid-description();  
        font-family: 'Poppins', sans-serif; 
        text-align: center;
        
        .blog-1-image {
            width: 250px;
            border-radius: 5px;
        }

        .date {
            margin-top: 0;
            text-align: justify;
            color: #e2876b;
            font-weight: 400;
        }

        .blog-text {
            margin-bottom: 40px;
            text-align: left;
        }

        #next-blog {
            @include primary-button();   
        }
        
    }
    
    
}

@media screen and (min-width: $ipad) {
    main {
        .heading {
            font-size: 26px; 
        }

        .description {
            font-size: 18px;

            .blog-1-image {
                width: 450px;
            }

            #next-blog {
                height: 50px;
                min-width: 130px;
                font-size: 1.5rem;
            }
        }
    }
}

@media screen and (min-width: $desktop) {
    main {
        .description {
            .blog-1-image {
                width: 650px;
            }
        }
    }
}