@import "../defaults/color";

main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    article {
        background-color: $primary-color;
        border-radius: 6px;
        margin: 20px 0px;
        padding: 16px;

        section {
            .blog-1-image {
                width: 300px;
                border-radius: 6px;

            }
            
            h3 {
                color: $third-color;
            }
        }
    }
}