@import "../defaults/color";
@import "./utils";
@import "../defaults/breakpoint";

footer {
    @include background-stuff();
 
    // the below code is the styling for the social media bar component in the footer of my website and is consistend across all pages on the site.
    .social-media {
     display: flex;
     justify-content: space-around;
 
     a{
         i{
             color: $primary-color;
             font-size: 24px;
         }
     }
    }
 
    p {
     margin-bottom: 0;
     color: $secondary-color;
     font-family: 'Poppins', sans-serif;
     font-weight: 300;

    }
 }
 
//  When the screensize is enlarged to ipad dimentions, the social media icons increase in size to fit the page better. 
 @media screen and (min-width: $ipad) {
     footer {
         .social-media {
             width: 50%;
             margin-left: auto;
             margin-right: auto;
             
             a {
                i {
                    font-size: 30px;
                }
                
             }
             
         }
     }
 }

