@import "../defaults/color";
@import "./utils";
@import "../defaults/breakpoint";

header {
    @include background-stuff();

    .logo-title {
        a {
            img {
                width: 150px;
            }
        }
    }

    .nav-items {
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin-bottom: 24px;
        font-size: 18px;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;

        a {
            text-decoration: none;
            color: $primary-color;

            &:hover {
                color: #fea473;
            }
        }

        .nav-lines {
            background-color: $primary-color;
            height: 25px;
            width: 1.3px;
        }
    }
}

@media screen and (min-width: $ipad) {
    header {
        .logo-title {
            a {
                img {
                    width: 180px;
                }
            }
        }

        .nav-items {
            a {
                font-size: 24px;
            }
        }
    }
}

@media screen and (min-width: $desktop) {
    header {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        .logo-title {
            margin-bottom: 11px;
        }

        .nav-items {
            width: 50%;

        }
    }
}