// The below color variables are used throughout the site and assist in keeping a consistent design and aesthetic across the website.

$primary-color: #FB6131;
$primary-background-color: #FCC9AD;
$secondary-color: rgb(19, 19, 19);
$third-color: white;
$shadow-color: #c23d14;